@charset "UTF-8";
/*蓝色*/
/*成功色*/
/*危险色*/
/*警告色*/
.ui-message-mask { position: fixed; top: 0; left: 0; right: 0; bottom: 0; }

.ui-message { position: fixed; top: 0; padding: 6px 20px; left: 50%; background-color: #1ab394; color: #fff; font-size: 16px; -webkit-animation: ani-ui-message 0.3s; -moz-animation: ani-ui-message 0.3s; animation: ani-ui-message 0.3s; }
.ui-message.success { background-color: #1ab394; }
.ui-message.error { background-color: #d9534f; }
.ui-message.loading { background-color: #337ab7; }
.ui-message.warning { background-color: #f0ad4e; }

@-webkit-keyframes ani-ui-message { 0% { opacity: 0; -webkit-transform: translate(0, -100px); transform: translate(0, -100px); }
  100% { opacity: 1; -webkit-transform: translate(0, 0); transform: translate(0, 0); } }

@-moz-keyframes ani-ui-message { 0% { opacity: 0; -moz-transform: translate(0, -100px); transform: translate(0, -100px); }
  100% { opacity: 1; -moz-transform: translate(0, 0); transform: translate(0, 0); } }

@keyframes ani-ui-message { 0% { opacity: 0; -webkit-transform: translate(0, -100px); -moz-transform: translate(0, -100px); transform: translate(0, -100px); }
  100% { opacity: 1; -webkit-transform: translate(0, 0); -moz-transform: translate(0, 0); transform: translate(0, 0); } }
