/node_modules
/angular-autocomplete/bower_components
/angular-checkbox/bower_components
/angular-colorpicker/bower_components
/angular-confirm/bower_components
/angular-datetime/bower_components
/angular-datetimepicker/bower_components
/angular-grid/bower_components
/angular-checkbox/node_modules
/angular-itempicker/bower_components
/angular-itempicker/node_modules
/angular-message/bower_components
/angular-message/node_modules
