.table-wrapper {
    position: relative;
    width: 100%;
    .resize-bar {
        position: absolute;
        left: -999999px;
        top: 0;
        height: 100%;
        width: 2px;
        background-color: #999;
    }
    .loading-wrap {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        .inner {
            width: 200px;
            height: 50px;
            position: absolute;
            top: 50px;
            left: 50%;
            margin-left: -100px;
            text-align: center;
            background-color: rgba(0, 0, 0, 0.3);
            border: 2px solid #fff;
            color: #fff;
            font-size: 14px;
            line-height: 50px;
            .icon-spinner {
                font-size: 16px;
                padding: 0 4px;
            }
        }
    }
    .table-header-wrapper {
        display: table;
        width: 100%;
        background-color: #ececec;
        .table {
            border-bottom: 0;
            .table-header {
            }
        }
    }
    .table-body-wrapper {
        position: relative;
        height: 0;
        box-sizing: border-box;
        overflow: hidden;
        border-bottom: 1px solid #ccc;
        .table-body-inner {
        }
        .table-body-empty {
            position: relative;
            height: 100%;
            border-top: 1px solid #ddd;
        }
        .table-body-empty-text {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -200px;
            margin-top: -80px;
            width: 400px;
            height: 100px;
            text-align: center;
            .icon {
                display: inline-block;
                font-size: 80px;
                color: #ddd;
            }
            .text {
                display: block;
                font-size: 30px;
                color: #ddd;
            }
        }
    }
}

.table {
    border-color: #dedede;
    margin-bottom: 0px;
    table-layout: fixed;
    font-size: 12px;
    .table-header {
        border-left: 0;
        .th-checkbox {
            width: 40px;
            border-bottom: 0 !important;
            background-color: #ececec;
            text-align: center;
            padding: 0;
            vertical-align: middle;
            label {
                display: block;
                padding: 8px;
                width: 100%;
                height: 100%;
                margin-bottom: 0;
            }
        }
        .th-unit {
            white-space: nowrap;
            border-bottom: 0 !important;
            background-color: #ececec;
            padding: 0 !important;
            .inner {
                padding: 8px 4px;
                width: auto;
                display: inline-block;
                float: left;
                font-weight: bold!important;
            }
            .th-resize {
                position: relative;
                z-index: 1;
                float: right;
                height: 38px;
                width: 10px;
                margin-right: -5px;
                &:hover {
                    cursor: col-resize;
                }
            }
            &:last-child {
                border-right-color: transparent;
                .th-resize {
                    display: none;
                }
            }
            &.sort {
                background-color: #e1e1e1;
                .table-sort {
                    color: #333;
                }
            }
            &:hover {
                cursor: pointer;
            }
        }
        .table-sort {
            display: inline-block;
            position: relative;
            width: 13px;
            height: 18px;
            font-size: 16px;
            color: #999;
            text-align: center;
            .icon-caret-up {
                position: absolute;
                top: 0;
                left: 0;
            }
            .icon-caret-down {
                position: absolute;
                top: 8px;
                left: 0;
            }
            &.up {
                .icon-caret-down {
                    color: #9C9898;
                }
            }
            &.down {
                .icon-caret-up {
                    color: #9C9898;
                }
            }
        }
        .th-btn {
            text-align: center;
        }
    }
    .table-row {
        &.selected {
            background-color: #f1f1f1;
        }
        .td-unit {
            border-color: #dedede;
            vertical-align: middle;
            padding: 5px 8px;
            white-space: nowrap;
            width: 0;
            .td-inner {
                display: block;
                vertical-align: middle;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                &.td-tpl {
                    text-align: center;
                    display: inline-block;
                }
                &.td-text {
                    display: block;
                    height: 30px;
                    line-height: 30px;
                }
                &.inline-block {
                    display: inline-block;
                }
            }
            .btn {
                margin: 0px 2px;
                padding: 4px;
                font-size: 12px;
                -webkit-border-radius: 2px;
                -moz-border-radius: 2px;
                border-radius: 2px;
                -webkit-transition: all 0.2s;
                -moz-transition: all 0.2s;
                transition: all 0.2s;
                .icon,
                .text {
                    display: inline-block;
                    vertical-align: middle;
                    padding: 0 1px;
                    margin: 0;
                }
            }
        }
        .td-checkbox {
            width: 40px;
            border-bottom: 0 !important;
            text-align: center;
            padding: 0;
            vertical-align: middle;
            label {
                display: block;
                padding: 8px;
                width: 100%;
                height: 100%;
                margin-bottom: 0;
            }
        }
    }
}
