<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>demo</title>
    <link rel="stylesheet" href="../../../libs/font-awesome-3.0.2/css/font-awesome.css" />
    <link rel="stylesheet" href="../../../libs/bootstrap-3.3.6/css/bootstrap.css" />
    <link rel="stylesheet" href="../css/angular-grid.css" />
    <script src="../../../libs/jquery-1.11.1/jquery.js"></script>
    <script src="../../../libs/angular-1.4.8/angular.js"></script>
    <script src="../../../angular-datetime/dist/js/angular-datetime.js"></script>
    <script src="../dist/js/angular-grid.js"></script>
</head>

<body ng-app="app" ng-controller="ctrl">
    <angular-table table-params="dataTable"></angular-table>
    <br />
</body>
<script>
var app = angular.module("app", ["ui.grid"]);
app.controller("ctrl", ['$scope', 'TableFactory', function($scope, TableFactory) {
    var tableOptions = {
        settings: {
            checkbox: true,
            viewportNumbers: 10,
            emptyPlaceholder: "暂无记录"
        },
        options: {
            channelName: {
                ChineseName: "渠道名称",
                width: "auto"
            },
            updateOn: {
                ChineseName: "最后更新时间",
                width: "auto",
                formatDate: "yyyy-mm-dd hh:ii:ss"
            },
            remark: {
                ChineseName: "备注",
                width: "auto"
            },
            test1: {
                ChineseName: "test1",
                width: "100",
                toFixed: 2
            },
            test2: {
                ChineseName: "test2",
                width: "100"
            },
            test3: {
                ChineseName: "test3",
                width: "100"
            },
            test4: {
                ChineseName: "test4",
                width: "100"
            },
            test5: {
                ChineseName: "test",
                width: "10"
            },
            test6: {
                ChineseName: "test6",
                width: "1000"
            },
            btnOperate: {
                ChineseName: "操作",
                width: "auto",
                cellTemplate: function() {
                    var insertBeforeButtonHtml = "<button ng-click='gridScope.insertBefore(tr,$rowScope);'>刷新</button>";
                    var editButtonHtml = "<button ng-click='gridScope.edit(tr,$rowScope);'>编辑</button>";
                    var removeButtonHtml = "<button ng-click='gridScope.remove($rowScope);'>删除</button>";
                    return insertBeforeButtonHtml+editButtonHtml + removeButtonHtml;
                }
            }
        }
    };

    var dataList = [];
    for (var i = 0; i < 100; i++) {
        dataList.push({
            id: i,
            channelName: i,
            updateOn: new Date().getTime(),
            remark: "备注信息",
            test1: i * 100,
            test2: i * 100,
            test3: i * 100,
            test4: i * 100,
            test5: i * 100,
            test6: i * 100
        });
    }
    $scope.dataTable = TableFactory.createTable(tableOptions, dataList);
    $scope.edit = function(item, $rowScope) {
        item.test1 = "44.34";
        $rowScope.refresh();
    };
    $scope.remove = function($rowScope) {
        $rowScope.remove();
    };
}]);
</script>

</html>
